---
import Layout from "../layouts/Layout.astro";
import PhotoQuiz from "../components/PhotoQuiz";
---

<Layout title="Highres">



    <section class="py-16 bg-gray-50">
      <div class="max-w-4xl mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8 text-center">
          Test Your Photography Knowledge
        </h2>
        <PhotoQuiz client:load />
      </div>
    </section>


</Layout>
