---
// HeaderNav.astro
---

<nav
    class="bg-gray-800 bg-opacity-50 p-4 fixed top-0 left-0 right-0 hidden md:flex justify-center max-w-[400px] rounded-full mt-5 mx-auto z-50 shadow-2xl"
>
    <ul class="flex space-x-8 text-white text-lg font-medium">
        <li
            class="hover:bg-white/10 px-3 py-1 rounded-full transition-all duration-300"
        >
            <a
                href="/"
                class="hover:text-blue-400 transition-colors duration-300"
                >Home</a>
        </li>
        <li
            class="hover:bg-white/10 px-3 py-1 rounded-full transition-all duration-300"
        >
            <a
                href="/journeys"
                class="hover:text-blue-400 transition-colors duration-300"
                >Journeys</a
            >
        </li>
        <li
            class="hover:bg-white/10 px-3 py-1 rounded-full transition-all duration-300"
        >
            <a
                href="/about"
                class="hover:text-blue-400 transition-colors duration-300"
                >About</a>
        </li>
    </ul>
</nav>
